 <beans xmlns="http://www.springframework.org/schema/beans"
 				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				xmlns:context="http://www.springframework.org/schema/context"
				xmlns:mvc="http://www.springframework.org/schema/mvc"
				xmlns:p="http://www.springframework.org/schema/p"
				xmlns:tx="http://www.springframework.org/schema/tx"
				xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
        
	<context:annotation-config />
	<context:component-scan base-package="com.deeodynamics.dore" />
	
	<mvc:annotation-driven />
	<mvc:resources mapping="/resources/**" location="/resources/" />
	
	<bean id="tilesConfigurer"
    class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
    <property name="definitions">
	    <list>
	    	<value>/WEB-INF/tiles/tiles.xml</value>
	    </list>
    </property>
	</bean>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
  	<property name="viewClass" 
  						value="org.springframework.web.servlet.view.tiles3.TilesView"/>
 	</bean> 
	
	<!-- 
	<bean id="jspViewResolver" 
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	-->

	<bean id="propertyConfigurer"
    class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
    p:location="classpath:db/jdbcMySQL.properties" />

  <bean id="dataSource"
    class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
    p:driverClassName="${jdbc.driverClassName}"
    p:url="${jdbc.databaseurl}" p:username="${jdbc.username}"
    p:password="${jdbc.password}" />
       
  <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	  <property name="dataSource" ref="dataSource" />
	  <property name="configLocation">
	  	<value>classpath:db/hibernate.cfg.xml</value>
	  </property>
	  <property name="hibernateProperties">
      <props>
        <prop key="hibernate.dialect">${jdbc.dialect}</prop>
        <prop key="hibernate.show_sql">true</prop>
  	  </props>
   </property>
 	</bean>
 
  <tx:annotation-driven />
  <bean id="transactionManager"
    class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>
		
	<bean id="messageSource"
	  class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
	  <property name="basename" value="classpath:/locale/captions" />
	  <property name="defaultEncoding" value="UTF-8" />
  </bean>
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="en" />
	</bean>
		
	<bean id="themeSource"
  	class="org.springframework.ui.context.support.ResourceBundleThemeSource">
        <property name="basenamePrefix" value="/themes/theme-" />
	</bean>
	<bean id="themeResolver"
    class="org.springframework.web.servlet.theme.SessionThemeResolver">
    <property name="defaultThemeName" value="retro" />
	</bean>
	
	<mvc:interceptors>
		<bean id="themeChangeInterceptor" 
					class="org.springframework.web.servlet.theme.ThemeChangeInterceptor">
			<property name="paramName" value="theme" />
		</bean>
		<bean id="localeChangeInterceptor"
			class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="lang" />
		</bean>
	</mvc:interceptors>
	

	<import resource="spring/beans.xml"/>

</beans>
